@charset "utf-8";
/*Global Styles*/
html {
	box-sizing: border-box;
}
*, *:before,*:after {
	box-sizing: inherit;
}
body {
	font-family: 'Lucida Sans', 'sans-serif';
	background: #2B2D42; 
}
ul {
	text-align: left;
	list-style: none;
}
ul li {
	font: 10px;
	display: inline-block;
	position: relative;
	padding: 15px 10px;
	background: #879BEB;
	cursor:pointer;
	border-radius: 8px;
	margin-right: 25px;
}
ul li:hover {
	background:#6BBDD5;
    color:#3D3D3D	
}
ul li ul {
	padding: 0;
	position: absolute;
	top: 50px;
	left: -1000px;
	width: 200px;
}
ul li ul li{
	background:#0963A4;
	display:block;
	color:antiquewhite;
}
ul li ul li:hover {
	background: #676588;
}
ul li:hover ul {
	display:inline;
	left:auto;
}
.content-wrap {
	max-width: 950px;
	margin: 0 auto;
	padding: 60px; 50px;
	overflow: hidden;
}
.col-narrow {
	width:30%;
	float:left;

}
.col-wide {
	width:70%;
	float:left;
	padding-left:20px;
}
.uppercase {
	text-transform: uppercase;	
}
.btn{
	text-decoration: none;
	background: #D500D4;
	color:white;
	padding:10px;
	display:inline-block;

}
h1,h2 {
	font-family: 'Caveat', cursive;
	font-weight:400px;
}
h1 {
	font-size: 80px;
	color: #fff;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
	letter-spacing: 5px;
}
h2 {
	font-size: 40px;
	margin-top: 0px;
	text-shadow: -2px 2px 3px #ff2d95;
}
h3 {
	margin:0;
}
.profile-img {
	max-width: 300px;
	border-radius: 50%;
	margin: 20px;
}
.download{
	position: absolute;
	bottom:0;
	right:0;
	
}
a {color:white;
	padding: 6px;
}
a:hover { 
	text-decoration: none;
	background:none;
}
a:link {
	color:white;
}
a:visited {
	background:#00194E
}
a:active {
	border: 1px solid black;
}
a:focus,
input:focus{
	outline: 1px solid black;
}
/*header and  footer*/

header{
	padding-top:50px;
	position:relative;
}

header h1, header h2 {
	color:#F0F7FB;
	margin: 0;
}

h2{
	color:#B6DFE5;
}
section h2 {
	color:slateblue;
}
header, footer {
	background: #2B2d42;
color:#DEE4F0;
	
}
footer {
	text-align: center;
}
.contact-info a {
	background: #2B2D42;
		padding: 10px;
	display: inline-block;
}
/*Work Experience*/
.work {
	background: #E1E6E8;
}
h3 ~ p {
	margin:0;	
}
.job-description{
	margin-bottom: 25px;
}
.job-description p:first-of-type {
	margin-top: 0;
}
/*Navigation*/
nav {
	background:#E8E8FF;
	position:fixed;
	top:0;
	width: 100%;
	margin-bottom: 10px;
}
/*Education*/
.education{
background: linear-gradient(rgba(211, 235, 240, .8), rgba(227, 246, 222, 0.5)),
	url("../images/green-tea-2356770_1920.jpg") no-repeat fixed;
	background-size: cover;
}
p + h3 {
	margin-top: 30px;
}
/*Media Queries*/
@media (min-width: 900px){
	.content-wrap {
	max-width: 950px;
	margin: 0 auto;
	padding: 60px; 50px;
	overflow: hidden;
}
.col-narrow {
	width:30%;
	float:left;
	}
}
@media (max-width:899px){
	.profile-img{
		width:150px;
	}
}
